<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-auto">
          <h1><b>vos demandes d'encadrements :</b></h1>
        </div>
        <!-- <div class="col-sm d-flex align-items-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item active">demandes de sessions</li>
          </ol>
        </div> -->
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><b>Liste des demandes d'encadrement</b></h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>nom de l'etudiant </th>
                  <th>niveau</th>
                  <th>sujet proposé</th>
                  <th>entreprise</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects" >
                  <td (click)="showDetails(project.id)">{{project.student.name}} {{project.student.lastName}}</td>
                  <td>{{project.student.level}} {{project.student.field}}</td>
                  <td>{{project.title}}</td>
                  <td>{{project.enterprise.name}}</td>
                  <td>
                    <i class=" icon fas fa-check-square fa-3x" (click)="acceptSupervisionRequest(project.id)"></i>
                  </td>
                </tr>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
    </div>
    </div>
    </section>