
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="dashboard-card">
          <div class="card-header">
            <h2 class="m-0">Projet de fin d'études</h2>
          </div>
          <div class="card-content">
            <p>
              Commencez à préparer votre sujet.
            </p>
            <div class="d-flex justify-content-end">
              <a href="#" class="btn btn-info btn-sm">Commencez!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
