<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-auto">
        <h1>Mon Projet</h1>
      </div>
      <div class="col-sm d-flex align-items-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item active">Mon Projet</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>


<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="dashboard-card">
          <div class="card-header">
            <h2>Détails Projet</h2>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-9">
                <h3>{{project.title}}</h3>
                <p class="text-muted">{{project.description}}</p>
                <br>
                <div class="text-muted">
                  <p class="text-sm">Encadrant
                    <b class="d-block">{{project.supervisor.lastName}} {{project.supervisor.name}}</b>
                  </p>
                  <p class="text-sm">Co-encadrant
                    <b class="d-block">{{project.enterpriseSupervisor}}</b>
                  </p>
                  <p class="text-sm">Entreprise
                    <b class="d-block">{{project.enterprise.name}}</b>
                  </p>
                  <p class="text-sm">Addresse
                    <b class="d-block">{{project.enterprise.location}}</b>
                  </p>
                  <p class="text-sm">Contact
                    <b class="d-block">{{project.enterprise.contact}}</b>
                  </p>
                </div>
              </div>
              <div class="col-3">
                <h5 class="text-muted">Project files</h5>
                <ul class="list-unstyled">
                  <li>
                    <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>
                      Functional-requirements.docx</a>
                  </li>
                  <li>
                    <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                  </li>
                  <li>
                    <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i>
                      Email-from-flatbal.mln</a>
                  </li>
                  <li>
                    <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                  </li>
                  <li>
                    <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>
                      Contract-10_12_2014.docx</a>
                  </li>
                </ul>
                <div class="mt-5 mb-3">
                  <a href="#" class="btn btn-sm btn-primary">Add files</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</section>
