<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/home" class="brand-link">
    <span class="brand-text font-weight-light">INSAT PFE</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <ng-container *ngFor="let route of routes">
          <li *ngIf="route?.roles.includes(role)" class="nav-item">
            <a [routerLink]="route?.link" routerLinkActive="active" class="nav-link">
              <i [ngClass]="['nav-icon', 'fas', route?.icon]"></i>
              <p>
                {{ route?.label }}
              </p>
            </a>
          </li>
          <li *ngFor="let childRoute of route?.children" class="nav-item">
            <a [routerLink]="route?.link" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                {{ childRoute }}
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
        </ng-container>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
