<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><b>Soutenances </b></h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-user-graduate"></i><b>   liste des soutenances programmées : </b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Etudiant</th>
                                    <th>Date</th>
                                    <th>role</th>
                                    <th>Description du sujet</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>S128</td>
                                    <td>Tarek Jarrar</td>
                                    <td>11-7-2021</td>
                                    <td><span class="tag tag-success">encadrant</span></td>
                                    <td><div>
                                        Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</div></td>
                                    </tr>
                                <tr>
                                    <td>219</td>
                                    <td>Sinda Jeddey</td>
                                    <td>11-7-2021</td>
                                    <td><span class="tag tag-warning">jury</span></td>
                                    <td><div>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner Bacon ipsum dolor sit amet salami venison chicken flank fatback doner Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>