<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><b>Soutenances </b></h1>
            </div>
        </div>
    </div>
</section>
          

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-user-graduate"></i><b>   Liste des soutenances programmées : </b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table id="soutenances" class="table table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Etudiant</th>
                                    <th style="width: 100px">Date</th>
                                    <th>Description du sujet</th>
                                    <th>Encadrant</th>
                                    <th>examinateur</th>
                                    <th>president du jury</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let soutenance of soutenances">
                                <tr >
                                    <td>{{soutenance.id}}</td>
                                    <td>{{soutenance.project.student.name}} {{soutenance.project.student.lastName}}</td>
                                    <td>{{soutenance.date}}</td>
                                    <td><div>
                                        {{soutenance.project.description}}
                                    </div></td>
                                    <td>{{soutenance.project.supervisor.name}} {{soutenance.project.supervisor.lastName}}</td>
                                    <td>{{soutenance.inspector.name}} {{soutenance.project.inspector.lastName}}</td>
                                    <td>{{soutenance.president.name}} {{soutenance.president.lastName}}</td>
                                    <td><i style="color:#28a745" class="fa fa-info-circle " (click)="detailsSoutenance(soutenance.id)"></i>
                                        <br></td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
        