<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><b>Soutenances </b></h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2" id="add">
            <div class="small-box bg-success">
                <div class="inner">
                  <p><b>programmer une soutenance</b></p>
                </div>
                <div class="icon">
                  <i class="fas fa-graduation-cap"></i>
                </div>
                <a  class="small-box-footer">ajouter <i class="fas fa-arrow-circle-right"></i></a>
              </div>
        </div>
       </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-user-graduate"></i><b>Liste des soutenances programmées : </b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table id="soutenances" class="table table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Etudiant</th>
                                    <th style="width: 100px">Date</th>
                                    <th>Role</th>
                                    <th>Description du sujet</th>
                                    <th>Actions</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>S128</td>
                                    <td>Tarek Jarrar</td>
                                    <td>11-7-2021</td>
                                    <td><span class="tag tag-success">Encadrant</span></td>
                                    <td><div>
                                        Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</div></td>
                                    <td>
                                        <i style="color:#28a745" class="fa fa-info-circle " (click)="detailsSoutenance()"></i>
                                        <br>
                                        <i  class="fa fas fa-edit" (click)="edit()"></i>
                                    </td>
                                    </tr>
                                <tr>
                                    <td>219</td>
                                    <td>Sinda Jeddey</td>
                                    <td>11-7-2021</td>
                                    <td><span class="tag tag-warning">Jury</span></td>
                                    <td><div>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner Bacon ipsum dolor sit amet salami venison chicken flank fatback doner Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</div></td>
                                    <td>
                                        <i style="color:#28a745" class="fa fa-info-circle " (click)="detailsSoutenance()"></i>
                                        <br>
                                        <i  class="fa fas fa-edit" (click)="edit()"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>