<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><b>Soutenances </b></h1>
            </div>   
        </div>
        <i class="fas fa-arrow-circle-left fa-3x" *ngIf="clicked" (click)="previous()"></i>
    </div>
</section>

<section class="content">
    <div class="container-fluid" *ngIf="!clicked">
        <div class="row" *ngFor="let session of sessions;let i=index">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box" (click)="onSessionClicked(session.id)" >
                    <span class="info-box-icon bg-success" ><i class="far fa-flag"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text"> <b>Session n° {{i+1}}</b></span>
                      <span class="info-box-text">{{session.startDate}} <b>--> </b> {{session.endDate}}</span>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>

<section class="content" *ngIf="clicked" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-user-graduate"></i><b>Liste des soutenances programmées : </b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table id="soutenances" class="table table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Etudiant</th>
                                    <th style="width: 100px">Date</th>
                                    <th>Encadrant</th>
                                    <th>Description du sujet</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let conference of conferences">
                                <tr>
                                    <td>{{conference.id}}</td>
                                    <td>{{conference.project.student.name}} {{conference.project.student.lastName}}</td>
                                    <td>{{conference.date}}</td>
                                    <td>{{conference.project.supervisor.name}} {{conference.project.supervisor.lastName}}</td>
                                    <td><div>
                                        {{conference.project.description}}</div></td>
                                    <td> 
                                        <i style="color:#28a745" class="fa fa-info-circle " (click)="detailsSoutenance(conference.id)"></i>
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>