<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-auto">
        <h1>Dashboard</h1>
      </div>
      <div class="col-sm d-flex align-items-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<app-dashboard-student></app-dashboard-student>
