<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-auto">
        <h1>Dashboard</h1>
      </div>
      <div class="col-sm d-flex align-items-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="dashboard-box">
          <div class="row title-row">
            <div class="col pb-4">
              <span>Requêtes en attentes</span>
            </div>
          </div>
          <div class="row content-row">
            <div class="col-4 d-flex flex-column justify-content-between">
              <h2>13</h2>
            </div>
            <div class="col-8">
              <img src="assets/students.svg" alt="students">
            </div>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dashboard-box">
          <div class="row title-row">
            <div class="col pb-4">
              <span>Requêtes en attentes</span>
            </div>
          </div>
          <div class="row content-row">
            <div class="col-4 d-flex flex-column justify-content-between">
              <h2>13</h2>
            </div>
            <div class="col-8">
              <img src="assets/subscription.svg" alt="students">
            </div>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dashboard-box">
          <div class="row title-row">
            <div class="col pb-4">
              <span>Requêtes en attentes</span>
            </div>
          </div>
          <div class="row content-row">
            <div class="col-4 d-flex flex-column justify-content-between">
              <h2>13</h2>
            </div>
            <div class="col-8">
              <img src="assets/projects.svg" alt="students">
            </div>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
