    <section class="content-header">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-sm-6">
            <h1>informations de la soutenance : </h1>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="invoice p-3 mb-3">
              <div class="row">
                <div class="col-12">  
                  <h4>
                    <i class="fas fa-graduation-cap"></i> Soutenance de flen fouleni
                    <small class="float-right"><b>Date:</b> nhar fouleni</small>
                  </h4>
                </div>
              </div>
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col" >
                  <br>
                  <strong>Sujet :</strong>
                  <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac diam turpis.
                   Ut vel nulla tempus, sagittis nibh vitae, malesuada orci. Sed blandit, arcu id tempor
                    rutrum, justo sem luctus eros, ac vestibulum tellus metus sit amet ligula. Praesent 
                    placerat a neque vel tristique. In ac dictum eros.
                </div>
                <div class="col-sm-4 invoice-col text-right">
                  <br>
                  <b>filliére :</b> Genie Logiciel<br>
                  <b>specialité  :</b> devOps<br>
                  <b>entreprise :</b> akwaStartup <br>
                  <b>date de debut :</b>06/02/2020 <br>
                </div>
              </div>
              <br>

              <!-- Table row -->
              <div class="row">
                <h4>jury de la soutenance :</h4>
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Nom et Prenom </th>
                      <th>titre </th>
                      <th>responsabilité </th>
                      <th>contact</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Aymen Seallouti</td>
                      <td>Maître Assistant en Informatique</td>
                      <td>president du jury</td>
                      <td>aymen@insat.u-carthage.tn</td>
                    </tr>
                    <tr>
                      <td>lilia sfaxi</td>
                      <td>Maître Assistant en Informatique</td>
                      <td>membre du jury</td>
                      <td>lilia@insat.u-carthage.tn</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
 
  