    <section class="content-header">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-sm-6">
            <h1>informations de la soutenance : </h1>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="invoice p-3 mb-3">
              <div class="row">
                <div class="col-12">  
                  <h4>
                    <i class="fas fa-graduation-cap"></i> Soutenance de {{conference.project.student.name}} {{conference.project.student.lastName}}
                    <small class="float-right"><b>Date:</b> {{conference.date}}</small>
                  </h4>
                </div>
              </div>
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col" >
                  <br>
                  <strong>Sujet : {{conference.project.title}}</strong>
                  <br>{{conference.project.description}}
                </div>
                <div class="col-sm-4 invoice-col text-right">
                  <br>
                  <b>Filliére :</b> {{conference.project.field}}<br>
                  <b>Entreprise :</b> {{conference.project.enterprise.name}} <br>
                </div>
              </div>
              <br>

              <!-- Table row -->
              <div class="row">
                <h2>Jury de la Soutenance :</h2>
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Nom et Prenom </th>
                      <th>Titre </th>
                      <th>Responsabilité </th>
                      <th>Contact</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr >
                      <td>{{conference.president.name}} {{conference.president.lastName}}</td>
                      <td>{{conference.president.rank}}</td>
                      <td>president du jury</td>
                      <td>{{conference.president.email}}</td>
                    </tr>
                    <tr>
                      <td>{{conference.inspector.name}} {{conference.inspector.lastName}}</td>
                      <td>{{conference.inspector.rank}}</td>
                      <td>examinateur</td>
                      <td>{{conference.inspector.email}}</td>
                    </tr>
                    <tr>
                      <td>{{conference.project.supervisor.name}} {{conference.project.supervisor.lastName}}</td>
                      <td>{{conference.project.supervisor.rank}}</td>
                      <td>encandrant</td>
                      <td>{{conference.project.supervisor.email}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
 
  